.flexible_menu_container {
  min-width: 203px;
  position: relative;
  display: flex;
  flex-direction: column;

  .flexible_menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: var(--title-bg-color);
    color: var(--title-text-color);
    cursor: pointer;
  }
}


.flexible_menu_search {
    flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 8px 4px 8px 2px;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: var(--title-text-color);
  cursor: pointer;

  .search_icon_container {
    width: 16px;
    height: 16px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--title-text-color);
    flex-grow: 1;
    
    &.cursor_pointer{
      cursor: pointer;
    }

  }
}

.dropdown_button {
  display: grid;
  place-items: center;
  padding: 1px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--title-bg-color-hover);
  }
}

.dynamic_menu_dropdown {
  position: absolute;
  width: 100%;
  max-height: 156px;
  overflow-y: auto;
  background-color: var(--dropdown-bg-color);
  border-radius: 2px;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--dropdown-item-bg-color-hover);
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  

  &.below {
    top: 40px;
    bottom: auto;
  }

  &.above {
    top: auto;
    bottom: 40px;
  }

  .dynamic_menu_dropdown_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px 0 8px 12px;
    font-size: 14px;
    font-weight: 400;
    color: var(--title-text-color);
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--dropdown-item-bg-color-hover);
    }

    &.disabled {
      cursor: not-allowed;
      color: gray;
    }
  }

  .dynamic_menu_dropdown_item_icon {
    width: 20px;
    height: 20px;
  }
}
